---
layout: default
section: blog
---

<ol class="Posts">
  {% for item in site.categories.blog limit:1000 %}
    {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
    {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}
    <li class="Post-content">
      <a href="{{site.baseurl}}{{item.url}}" class="Post-content-link">
        <div class="Post-content-wrap">
          <span class="Post-date">{{item.date | date:"%B %-d, %Y"}}</span>
          <h2>{{item.title}}</h2>
          <p>
            {{ item.content | strip_html | truncatewords: 40 }}
            <br><span href="{{site.baseurl}}{{item.url}}" class="Post-more">Read More</span>
          </p>
        </div>

        {% if item.preview %}
        <div class="Post-image-wrap">
          <img src="{{item.preview}}" alt="">
        </div>
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ol>