html {
  background-color: #fafafa;
  font-family: sans-serif;
  box-sizing: border-box;
  -ms-text-size-adjust: 100;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
header,
main,
nav,
section {
  display: block;
}

audio,
video {
  display: inline-block;
  vertical-align: baseline;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  max-width: 100%;
}

.Video-wrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

  .Video-wrapper iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

blockquote {
  background: #f4f4f4;
  border-left: 10px solid #ccc;
  margin: 1.5em 0;
  padding: 1em;
  quotes: "\201C""\201D";
  font-style: italic;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.125em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
  font-family: 'Old Standard TT', serif;
  font-size: 20px;
  color: #565859;
}

@media screen and (max-width: 680px) {
  body {
    padding: 0 1em;
  }
}

a {
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: #565859;
}

a:hover,
a:focus {
  color: #D9B54A;
  text-decoration: underline;
}

#Header {
  position: relative;
  text-align: center;
}

  #Header > a {
    display: inline-block;
    margin: 1em 0 0;
    font-size: 2em;
    font-weight: bold;
  }

#Nav {
  padding: 1em 0 2em;
  font-size: 0.75em;
  text-align: right;
}

.Posts {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Post-content {
  margin: 2em 0;
  padding-bottom: 2em;
}

.Post-content:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

  .Post-content h2 {
    margin: 0;
  }

  .Post-content h2 + p {
    margin-top: 0.5em;
    margin-bottom: 0;
  }

.Post-date {
  display: block;
  clear: both;
  margin-bottom: 0.5em;
  font-size: 0.675em;
  font-style: italic;
}

.Post-more {
  display: inline-block;
  margin-top: 1em;
  font-size: 0.75em;
  font-style: italic;
}

.Hero {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  margin: 2em 0;
}

  .Hero img {
    display: block;
    margin: 0 auto;
  }

  @media screen and (max-width: 680px) {
    .Hero img {
      min-height: 200px;
    }
  }

.Post-content h3 {
  margin-top: 2em;
}