<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{page.title}} // {{site.sitename}}{% else %}{{site.sitename}}{% endif %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700" rel="stylesheet" type="text/css">
    <style type="text/css">{% include site.min.css %}</style>
  </head>
  <body>
    <header role="banner" id="Header">
      <a href="{{site.baseurl}}/">{{site.sitename}}</a>
    </header>

    <main role="main" id="Main">
      {{content}}
    </main>

    <nav role="navigation" id="Nav">
      <a href="{{site.baseurl}}/about">About</a>
    </nav>
  </body>
</html>
