---
title: 'The Cornbread Companion'
---
<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.url != '/index.html' %}| {{page.title}}{% endif %} | The Cornbread Companion</title>
    <meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width' />
    <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
    <link href='https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
  </head>
  <body>
    <header role="banner" id="Header">
      <a href="{{site.baseurl}}/">{{site.sitename}}</a>
    </header>

    <main role="main" id="Main">
      {{content}}
    </main>

    <nav role="navigation" id="Nav">
      <a class='{% if page.url == "about/" %}active{% endif %}' href='{{site.baseurl}}/about'>About</a>
    </nav>
  </body>
</html>
